<div class="container pt-3">
  <div class="text-center titleClass">APPLICATION OF APPOINTMENTS</div>
  <div class="row mt-3">
    <div class="col-lg-6">
      <app-create-quotes (newQuotes)="addQuotes($event)"></app-create-quotes>
      <!-- <app-crear-cita (nuevaCita)="agregarCita($event)"></app-crear-cita> -->
    </div>
    <div class="col-lg-6">
      <app-list-quotes
        [listQuotes]="listQuotes"
        (deleteQuotes)="removeQuotes($event)"
      ></app-list-quotes>
      <!-- <app-list-citas [listadoCitas]="listCitias" (deleteCita)="eliminarCitaListado($event)"></app-list-citas> -->
    </div>
  </div>
</div>
